name: Deploy Static Site to Azure Web App

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Zip site content
        run: |
          zip -r site.zip index.html web.config

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: devsecops-lab-al-12346
          publish-profile: ${{ secrets.devsecops-lab-al-12346 }}
          package: site.zip
