name: Deploy static site to Azure App Service

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Azure login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Show who/where we are logged into
        run: |
          az account show --query "{name:name, id:id, tenantId:tenantId, user:user.name}" -o json

      - name: List web apps visible in this subscription
        run: |
          az webapp list --query "[].{name:name, rg:resourceGroup, location:location}" -o table


      - name: Zip site content
        run: |
          zip -r site.zip index.html web.config

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: devsecops-lab-al-12346-b4bdbafacfg7age4
          package: site.zip


